<%= div_for brain do%>
    <p>
        <strong>
            Aggregate:
            <%= time_ago_in_words(brain.created_at) %>
        </strong>
        <br>
        <%= brain.flavor%>
    </p>
<% end %>