<p id="notice"><%= notice %></p>

<h1>Brains</h1>

<table>
  <thead>
    <tr>
      <th>Flavor</th>
      <th>Iq</th>
      <th>Fresh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brains.each do |brain| %>
      <tr>
        <td><%= brain.flavor %></td>
        <td><%= brain.iq %></td>
        <!--<td><%= brain.fresh %></td>-->
        <td>
            <% if brain.fresh %>
             <%= image_tag 'brains/fresh.png', class: 'brains_fresh' %>
            <% else %>
             <%= image_tag 'brains/no_fresh.png', class: 'brains_fresh' %>
            <% end %>
        </td>
        <td><%= link_to 'Show', brain %></td>
        <td><%= link_to 'Edit', edit_brain_path(brain) %></td>
        <td><%= link_to 'Destroy!', brain, method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cerebro', new_brain_path %>
