
<p id="notice"><%= notice %></p>

<h1>Zombies</h1>


<table>
  <thead>
    <tr>
      <th >Avatar</th>
      <th >Name</th>
      <th >Bio</th>
      <th >Age</th>
      <th >Email</th>
      <th >Owner</th>
      <th >Rotten</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <% @zombies.each do |zombie| %>
     
      <tr>
        <td> <%= image_tag(zombie.avatar_url) if zombie.avatar? %> </td>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.user_id ? User.find(zombie.user_id).email : "Without owner" %> </td>
        <td><%= zombie.rotten ? "Yes" : "No" %></td>


        <% if current_user.role == "contributor" %>
            <td><%= link_to 'Show', zombie, class: 'button info whitel' %></td>
            <td><%= link_to 'Edit', edit_zombie_path(zombie), class: 'button success' %></td>
        <% elsif current_user.role == "suscriber" %>
            
        <% else %>
            <td><%= link_to 'Show', zombie, class: 'button info whitel' %></td>
            <td><%= link_to 'Edit', edit_zombie_path(zombie), class: 'button success' %></td>
            <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } , class:'button alert' %></td>
       
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == "suscriber" %>
<%else %>
    <%= link_to 'New Zombie', new_zombie_path, class: 'button info' %>
 <% end %>