#Borrar para que no aparezca dos veces
<div class="row">
<div class="field large-2 columns ">
          </div>
    <div class="field large-4 columns bigima">
        <%= image_tag(@zombie.avatar_url, class: 'bigima') if @zombie.avatar? %>
    </div>

    <div class="field large-6 columns">
        <p>
          <strong>Name:</strong>
          <%= @zombie.name %>
        </p>

        <p>
          <strong>Bio:</strong>
          <%= @zombie.bio %>
        </p>

        <p>
          <strong>Age:</strong>
          <%= @zombie.age %>
        </p>
    

        <p>
          <strong>Email:</strong>
          <%= @zombie.email %>
        </p>

        <p>
          <strong>Rotten:</strong>
          <%= @zombie.rotten ? "Sí" : "No" %>
          <!--#%= @zombie.rotten %-->
        </p>
    </div>
     </div>


<div class="row dCerebro">
      <h2>Brains</h2>
  <div id="brains" class="field large-3 columns">

      <%= render :partial => @zombie.brains.reverse %>
  </div>

  <div id="brains" class="field large-9 columns">
    <h2>Add Brain</h2>

    <%= form_for([@zombie, Brain.new], remote: true) do |f| %>
    
      <div class="field large-4 columns">
        <%= f.label :flavor %>
        <%= f.text_field :flavor %>
      </div>
      
      <div class="field large-4 columns">
        <%= f.label :iq %>
        <%= f.number_field :iq %>
      </div>
      
      <div class="field large-1  columns">
        <%= f.label :fresh %>
        <%= f.check_box :fresh %>
      </div>
      
      <div class="actions large-3 columns ">
        <%= f.submit 'Create Brain', class:'button warning' %>
      </div>
      
    </div>
 </div>
<% end %>

<%= link_to 'Edit', edit_zombie_path(@zombie), class: 'button success' %> 
<%= link_to 'Back', zombies_path , class: 'button secondary'%>