// Place all the styles related to the zombies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

    img{
        width: 60px;
        height: 60px;
    }
    th, tr{
       text-align:center;
    }
    
    .bigima{
        width: 320px;
        height: 320px;
        align-self: right;

    }

    .dCerebro{
         margin-top: 20px;
    }
   


    